VITE_EXTERNAL_OGC_URL=https://example.com/ogc
# Team-prosjekt (anon key er offentlig klientnøkkel)
VITE_SUPABASE_URL=https://zdegeuncqvgqzjszwtqc.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkZWdldW5jcXZncXpqc3p3dHFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxMjA2NjUsImV4cCI6MjA4NTY5NjY2NX0.UZJzfZnPwhMr7Z3cCgj_5_DJsz9KdTtFFgXBq6uSOSo
